# deps
node_modules/

# Android
android/local.properties
android/.gradle/
android/build/
android/app/build/
android/captures/
android/*.iml
android/.idea/

# iOS
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/build/
ios/DerivedData/
ios/.idea/

# macOS
.DS_Store
